{% extends 'base.html' %}
 

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <!-- left sidebar -->
    {% include 'sidebar.html' %}


    <!-- right site content -->
    <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h3>Add new user</h3>
        
        <form action="{% url 'add_user' %}" method="POST">
            {% csrf_token %}
            {{form | crispy}}

            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <br>
    </div>
    {% else %}
    <h5>You don't have permission to view in this page</h5>
    {% endif %}
</div>

{% endblock content %}